<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type='application/ld+json'>
{
	"@context": "http://www.schema.org",
	"@type": "Organization",
	"name": "Mineral Point Opera House",
	"url": "http://www.mineralpointoperahouse.org/",
	"sameAs": [
		"https://www.facebook.com/Mineral-Point-Opera-House-134905419411/"
	],
	"logo": "http://www.mineralpointoperahouse.org/",
	"image": "http://www.mineralpointoperahouse.org/",
	"description": "The Mineral Point Opera House began in 1915 as a vaudeville house. Over the years, it has been used as a movie theater and a venue for a variety of live",
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "139 High St",
		"addressLocality": "Mineral Point",
		"addressRegion": "WI",
		"postalCode": "53565",
		"addressCountry": "USA"
	},
	"geo": {
		"@type": "GeoCoordinates",
		"latitude": "42.860110",
		"longitude": "-90.179072"
	},
	"hasMap": "https://goo.gl/maps/bgCxo86fRzH2",
	"contactPoint": {
		"@type": "ContactPoint",
		"telephone": "(608) 987-3501"
	}
}
</script>
<div class="row">
	<div class="max-1080">
		<div class="row">
			<div class="col-xs-12">
				<div class="row" style="padding: 5px; padding-top:15px; font-size: 1.5rem; letter-spacing: .1rem;">
					<a href="{{ site.baseurl }}/events">
						<span class="tk-rift social-footer-links"><strong>Events</strong></span>
					</a>
					<a href="{{ site.baseurl }}/about">
						<span class="tk-rift social-footer-links"><strong>About Us</strong></span>
					</a>
					<a href="{{ site.baseurl }}/contact">
						<span class="tk-rift social-footer-links"><strong>Contact Us</strong></span>
					</a>
					<a href="{{ site.baseurl }}/performers">
						<span class="tk-rift social-footer-links"><strong>Performers</strong></span>
					</a>
					<!--<a href="{{ site.baseurl }}/blog">
						<span class="tk-rift social-footer-links"><strong>Blog?</strong></span>
					</a>-->
				</div>
				<div id="footer-contacts" class="row">
					<div>
						<address>
							<i class="fa fa-map-marker" style="margin-right: -5px;"></i>
							<a href="https://goo.gl/maps/Je9Ntrayupq" target="_blank">139 High Street Mineral Point, WI 53565 </a>
						</address>
					</div>
					<div><i class="fa fa-phone"></i> 608.987.3501</div>
					<div><i class="fa fa-envelope" style="margin-right: -5px;"></i>
						<!-- email obfuscators:-->
						<!-- http://www.albionresearch.com/misc/obfuscator.php-->
						<a href='m&#97;ilto&#58;&#105;&#110;fo&#64;&#37;6D&#105;&#110;%6&#53;r&#97;lpoi%&#54;E&#116;ope%7&#50;&#97;%6&#56;&#111;u%73e&#46;o%&#55;2g'>&#105;nfo&#64;mi&#110;&#101;r&#97;l&#112;oint&#111;pera&#104;o&#117;se&#46;org</a>
					</div>
					<!--<div><address><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/WFygb">2109 N. Page St Stoughton, WI 53589</a></address></div>-->
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer-copyright">
	<div>
		<i class="fa fa-copyright"></i>
		<script type="text/javascript">
		document.write(new Date().getFullYear());
		</script>
		<!-- NAME HERE-->
		Mineral Point Opera House
	</div>
</div>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/mineralpointoperahouse.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
